.btn {
	display:inline-block;
	height:250px;
	width:250px;
	border-radius:50%;
	background-color:#acf;

	font-family:sans-serif;
	font-size:36px;
	font-weight:bold;
	line-height:250px;
	text-align:center;
	text-transform:uppercase;
	overflow:hidden;

	border:10px solid #57a;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	touch-action:manipulation; /*disable double tap to zoom*/

	/*override default styling of the A tag*/
	color:black;
	text-decoration:none;

	margin:5px;
}
.btn:hover {
	background-color:#9be;
}
.btn:active {
	background-color:#79c;
}
#btns {
	text-align:center;
}

/*Hide buttons while they are still in development*/
.dev {
	display:none;
}

/*dark mode*/
@media (prefers-color-scheme: dark) {
	html {
		background-color:#003;
	}
}
